<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="././assets/images/satisfaction.png" alt="navbar logo" class="logo">
      <label *ngIf="role!== 'none'; else loginHeader">Feedback for User with Role {{role}}</label>
      <ng-template #loginHeader>
        Feedback Login
      </ng-template>

    </a>

    <button *ngIf="role!== 'none';" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <app-navbar-item *ngFor="let link of links" [link]="link"></app-navbar-item>
      </ul>
    </div>

  </nav>
</header>
